In [1]:
import pandas as pd
import os

In [8]:
row_data = '/Users/clemence/IRONHACK/Final Project/Autres datasets/Calendrier'
all_files = [] 
tracking_files=[]

for filename in os.listdir(row_data):
    if filename.endswith('.csv'):
        filepath = os.path.join(row_data, filename)
        tracking_files.append(filename)
        file = pd.read_csv(filepath,delimiter=';')
        all_files.append(file)

schedule_df = pd.concat(all_files, axis=0, ignore_index=True)

In [9]:
schedule_df

,Date,Calendrier Zone A,Calendrier Zone B,Calendrier Zone C,Nom de la période,timestamp_unix
0,2019-01-02,Vacances de Noël,Vacances de Noël,Vacances de Noël,Vacances de Noël,1546387200
1,2019-01-27,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1548547200
2,2019-02-26,Vacances d'hiver,Hors Vacances,Vacances d'hiver,Vacances d'hiver,1551139200
3,2019-03-08,Hors Vacances,Hors Vacances,Vacances d'hiver,Vacances d'hiver,1552003200
4,2019-04-02,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1554163200
...,...,...,...,...,...,...
1456,2022-11-30,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1669766400
1457,2022-12-10,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1670630400
1458,2022-12-16,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1671148800
1459,2022-12-19,Vacances de Noël,Vacances de Noël,Vacances de Noël,Vacances de Noël,1671408000
1460,2022-12-27,Vacances de Noël,Vacances de Noël,Vacances de Noël,Vacances de Noël,1672099200

In [12]:
schedule_df.dtypes

Date                 object
Calendrier Zone A    object
Calendrier Zone B    object
Calendrier Zone C    object
Nom de la période    object
timestamp_unix        int64
dtype: object

In [16]:
schedule_df["Date"]=pd.to_datetime(schedule_df["Date"])

In [18]:
schedule_df["Weekday"]=schedule_df['Date'].dt.day_name()

In [19]:
schedule_df.head()

,Date,Calendrier Zone A,Calendrier Zone B,Calendrier Zone C,Nom de la période,timestamp_unix,Weekday
0,2019-01-02,Vacances de Noël,Vacances de Noël,Vacances de Noël,Vacances de Noël,1546387200,Wednesday
1,2019-01-27,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1548547200,Sunday
2,2019-02-26,Vacances d'hiver,Hors Vacances,Vacances d'hiver,Vacances d'hiver,1551139200,Tuesday
3,2019-03-08,Hors Vacances,Hors Vacances,Vacances d'hiver,Vacances d'hiver,1552003200,Friday
4,2019-04-02,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1554163200,Tuesday

In [20]:
schedule_df=schedule_df.sort_values(by=["Date"])

In [22]:
schedule_df.head(20)

,Date,Calendrier Zone A,Calendrier Zone B,Calendrier Zone C,Nom de la période,timestamp_unix,Weekday
159,2019-01-01,Vacances de Noël,Vacances de Noël,Vacances de Noël,Vacances de Noël,1546300800,Tuesday
0,2019-01-02,Vacances de Noël,Vacances de Noël,Vacances de Noël,Vacances de Noël,1546387200,Wednesday
146,2019-01-03,Vacances de Noël,Vacances de Noël,Vacances de Noël,Vacances de Noël,1546473600,Thursday
338,2019-01-04,Vacances de Noël,Vacances de Noël,Vacances de Noël,Vacances de Noël,1546560000,Friday
169,2019-01-05,Vacances de Noël,Vacances de Noël,Vacances de Noël,Vacances de Noël,1546646400,Saturday
222,2019-01-06,Vacances de Noël,Vacances de Noël,Vacances de Noël,Vacances de Noël,1546732800,Sunday
147,2019-01-07,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1546819200,Monday
308,2019-01-08,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1546905600,Tuesday
205,2019-01-09,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1546992000,Wednesday
104,2019-01-10,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1547078400,Thursday
148,2019-01-11,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1547164800,Friday
105,2019-01-12,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1547251200,Saturday
223,2019-01-13,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1547337600,Sunday
47,2019-01-14,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1547424000,Monday
170,2019-01-15,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1547510400,Tuesday
270,2019-01-16,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1547596800,Wednesday
309,2019-01-17,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1547683200,Thursday
233,2019-01-18,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1547769600,Friday
74,2019-01-19,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1547856000,Saturday
75,2019-01-20,Hors Vacances,Hors Vacances,Hors Vacances,NaN,1547942400,Sunday

In [26]:
schedule_df["Calendrier Zone A"].value_counts()

Hors Vacances               953
Vacances d'été              230
Vacances de Noël             69
Vacances d'hiver             64
Vacances de printemps        64
Vacances de la Toussaint     64
Pont de l'Ascension          17
Name: Calendrier Zone A, dtype: int64

In [23]:
schedule_df = schedule_df.drop(["timestamp_unix"], axis=1)

In [25]:
schedule_df = schedule_df.rename(columns={"Date": "id_date"})

In [28]:
schedule_df[['Calendrier Zone A','Calendrier Zone B','Calendrier Zone C']] = schedule_df[['Calendrier Zone A','Calendrier Zone B','Calendrier Zone C']].replace(["Hors Vacances","Vacances de Noël", "Vacances d'été","Vacances d'hiver","Vacances de printemps","Vacances de la Toussaint","Pont de l'Ascension"], [0, 1, 1, 1, 1,1,1])

In [30]:
schedule_df.head(20)

,id_date,Calendrier Zone A,Calendrier Zone B,Calendrier Zone C,Nom de la période,Weekday
159,2019-01-01,1,1,1,Vacances de Noël,Tuesday
0,2019-01-02,1,1,1,Vacances de Noël,Wednesday
146,2019-01-03,1,1,1,Vacances de Noël,Thursday
338,2019-01-04,1,1,1,Vacances de Noël,Friday
169,2019-01-05,1,1,1,Vacances de Noël,Saturday
222,2019-01-06,1,1,1,Vacances de Noël,Sunday
147,2019-01-07,0,0,0,NaN,Monday
308,2019-01-08,0,0,0,NaN,Tuesday
205,2019-01-09,0,0,0,NaN,Wednesday
104,2019-01-10,0,0,0,NaN,Thursday
148,2019-01-11,0,0,0,NaN,Friday
105,2019-01-12,0,0,0,NaN,Saturday
223,2019-01-13,0,0,0,NaN,Sunday
47,2019-01-14,0,0,0,NaN,Monday
170,2019-01-15,0,0,0,NaN,Tuesday
270,2019-01-16,0,0,0,NaN,Wednesday
309,2019-01-17,0,0,0,NaN,Thursday
233,2019-01-18,0,0,0,NaN,Friday
74,2019-01-19,0,0,0,NaN,Saturday
75,2019-01-20,0,0,0,NaN,Sunday

In [31]:
schedule_df["vacation_level"]=schedule_df["Calendrier Zone A"]+schedule_df["Calendrier Zone B"]+schedule_df["Calendrier Zone C"]

In [32]:
schedule_df.head(20)

,id_date,Calendrier Zone A,Calendrier Zone B,Calendrier Zone C,Nom de la période,Weekday,vacation_level
159,2019-01-01,1,1,1,Vacances de Noël,Tuesday,3
0,2019-01-02,1,1,1,Vacances de Noël,Wednesday,3
146,2019-01-03,1,1,1,Vacances de Noël,Thursday,3
338,2019-01-04,1,1,1,Vacances de Noël,Friday,3
169,2019-01-05,1,1,1,Vacances de Noël,Saturday,3
222,2019-01-06,1,1,1,Vacances de Noël,Sunday,3
147,2019-01-07,0,0,0,NaN,Monday,0
308,2019-01-08,0,0,0,NaN,Tuesday,0
205,2019-01-09,0,0,0,NaN,Wednesday,0
104,2019-01-10,0,0,0,NaN,Thursday,0
148,2019-01-11,0,0,0,NaN,Friday,0
105,2019-01-12,0,0,0,NaN,Saturday,0
223,2019-01-13,0,0,0,NaN,Sunday,0
47,2019-01-14,0,0,0,NaN,Monday,0
170,2019-01-15,0,0,0,NaN,Tuesday,0
270,2019-01-16,0,0,0,NaN,Wednesday,0
309,2019-01-17,0,0,0,NaN,Thursday,0
233,2019-01-18,0,0,0,NaN,Friday,0
74,2019-01-19,0,0,0,NaN,Saturday,0
75,2019-01-20,0,0,0,NaN,Sunday,0

In [33]:
schedule_df = schedule_df.drop(["Calendrier Zone A","Calendrier Zone B","Calendrier Zone C"], axis=1)

In [34]:
schedule_df.head(20)

       id_date Nom de la période    Weekday  vacation_level
159 2019-01-01  Vacances de Noël    Tuesday               3
0   2019-01-02  Vacances de Noël  Wednesday               3
146 2019-01-03  Vacances de Noël   Thursday               3
338 2019-01-04  Vacances de Noël     Friday               3
169 2019-01-05  Vacances de Noël   Saturday               3
222 2019-01-06  Vacances de Noël     Sunday               3
147 2019-01-07               NaN     Monday               0
308 2019-01-08               NaN    Tuesday               0
205 2019-01-09               NaN  Wednesday               0
104 2019-01-10               NaN   Thursday               0
148 2019-01-11               NaN     Friday               0
105 2019-01-12               NaN   Saturday               0
223 2019-01-13               NaN     Sunday               0
47  2019-01-14               NaN     Monday               0
170 2019-01-15               NaN    Tuesday               0
270 2019-01-16               NaN  Wednesday               0
309 2019-01-17               NaN   Thursday               0
233 2019-01-18               NaN     Friday               0
74  2019-01-19               NaN   Saturday               0
75  2019-01-20               NaN     Sunday               0

In [ ]:
schedule_df.rename(columns={"id_date":"date""Nom de la période":"holidays_name","Weekday": "weekday""},inplace=True)

In [36]:
schedule_df["Nom de la période"].fillna("Hors vacances",inplace=True)

In [37]:
schedule_df.isnull().sum()

id_date              0
Nom de la période    0
Weekday              0
vacation_level       0
dtype: int64

In [38]:
schedule_df.to_csv("/Users/clemence/IRONHACK/Final Project/Autres datasets/Calendrier/schedule.csv")

In [43]:
from sqlalchemy import create_engine
import pymysql.cursors 
import os
import getpass
pw = getpass.getpass()

········

In [44]:
connection_string = 'mysql+pymysql://root:' + pw + '@localhost:3306/' 
engine = create_engine(connection_string)

In [45]:
schedule_df.to_sql('calendar', engine, 'Final_Project', if_exists='replace', index = False)

1461